.main
  .sex
    %li ALL
    %li MEN
    %li WOMEN
  .posts
    = image_tag "img_cliants01.png", size: "300x300", alt: "顔写真1"
    = image_tag "img_cliants02.png", size: "300x400", alt: "顔写真2"
    = image_tag "img_cliants03.png", size: "300x400", alt: "顔写真3"